<header>
    <figure class="logo-header">
      <img src="assets/img/Marvel_Logo.png" alt="Logo Marvel">
    </figure>
    <div class="search-box">
      <input type="text" placeholder="Search character..." name='characterName' id='characterName'
    (keyup)="findCharacter($event)">
      <span><img src="assets/img/search.png" alt="Icono buscar"></span>
    </div>
  </header>
<div class="content fade-in">
    <div class="list-characters padding-sections" *ngIf="!showSearchResult">
        <div class="title-section">
            <h1><img src="assets/img/characters.png" alt="Icono characters">Characters</h1>
            <select name="" id="" class="input-sort">
                <option value="1">Sort by</option>
            </select>
        </div>
        <div class="fila">
            <div class="column-2" *ngFor="let characters of allCharacters">
                <div class="card-character">
                    <img src="{{characters.thumbnail.path +'/standard_medium.'+characters.thumbnail.extension}}" width="100%" class="card-img-character" alt="Some Issue Loading Image..." />
                    <div class="card-cont">
                        <h3>{{characters.name}}</h3>
                        <p class="description">{{characters.description}}</p>
                        <p class="description" *ngIf="characters.description == null || characters.description == ''">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut fugit deleniti nobis quos facilis quas corporis! Sint, magni? Perferendis  nobis quos facilis </p>
                        <button type="button" (click)="openModal()"(click)="fetchComicsByCharacter(characters.id)" class="btn-base button-primary">See comics</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-characters padding-sections" *ngIf="showSearchResult">
        <div class="title-section">
            <h1><img src="assets/img/characters.png" alt="Icono characters">Characters</h1>
            <select name="" id="" class="input-sort">
                <option value="1">Sort by</option>
            </select>
        </div>
        <div class="fila">
            <div class="column-2" *ngFor="let characters of searchedCharacter">
                <div class="card-character">
                    <img src="{{characters.thumbnail.path +'/standard_medium.'+characters.thumbnail.extension}}" width="100%" class="card-img-character" alt="Some Issue Loading Image..." />
                    <div class="card-cont">
                        <h3>{{characters.name}}</h3>
                        <p>{{characters.description}}</p>
                        <p *ngIf="characters.description == null || characters.description == ''">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error adipisci doloribus nihil explicabo quasi ad voluptate provident porro magni totam! Corrupti incidunt aut nam pariatur labore saepe fugiat assumenda.</p>
                        <button type="button" (click)="openModal();"(click)="fetchComicsByCharacter(characters.id)" class="btn-base button-primary">See comics</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="aside-favorite-comics padding-sections">
        <h2 class="title-favorites"><img src="assets/img/favourites.png" alt="Icono characters">My favorites</h2>
        <div class="list-of-comics">
            <ul>
                <li>
                    <button class="btn-base"><img src="assets/img/btn-delete.png" alt="Icono borrar"></button>
                    <img src="assets/img/comic-prueba_.jpg" alt="Comic de prueba">
                    <h4>Nombre del comic</h4>
                </li>
            </ul>
        </div>
    </aside>
</div>
<div class="overlay" *ngIf="modalSwitch == true">
    <div class="modal fade-in" *ngIf='!showDetailComicDiv'>
        <div class="modal-body">
            <div class="title-modal">
                <h3>Related comics</h3>
                <button (click)="closeModal()" class="btn-base button-close"><img src="assets/img/btn-close.png" alt="Icono cerrar"></button>
            </div>
            <div class="comics">
                <ul>
                    <li *ngFor="let c of comics">
                        <button type="button" (click)="fetchComicsByComidId(c.id)">
                            <img src="{{c.thumbnail.path +'/standard_medium.'+c.thumbnail.extension}}" class="" alt="Some Issue Loading Image..." />
                            <h5>{{ c.title }}</h5>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade-in" *ngIf='showDetailComicDiv'>
        <div class="modal-body">
            <div class="title-modal-single-comic">
                <button (click)="closeModal()" class="btn-base button-close"><img src="assets/img/btn-close.png" alt="Icono cerrar"></button>
            </div>
            <div class="comics single-comic" *ngIf='showDetailComicDiv'>
                <ul>
                    <li *ngFor="let c of comics">
                        <img src="{{c.thumbnail.path +'/standard_medium.'+c.thumbnail.extension}}" class="" alt="Some Issue Loading Image..." />
                        <div class="content-comic">
                            <h5>{{ c.title }}</h5>
                            <p>{{c.description}}</p>
                            <p *ngIf="c.description == null || c.description == ''">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error adipisci doloribus nihil explicabo quasi ad voluptate provident porro magni totam! Corrupti incidunt aut nam pariatur labore saepe fugiat assumenda.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-card">
            <button class="btn-base button-add"><img src="assets/img/btn-favourites-default.png" alt="Icono cerrar">Add to favorites</button>
            <button class="btn-base button-buy"><img src="assets/img/shopping-cart-primary.png" alt="Icono cerrar">Buy for $3.99</button>
        </div>
    </div>
</div>
