.overlay{
    background: rgb(0 0 0 / 38%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal{
    max-width: 600px;
    width: auto;
    margin: 1.75rem auto;
    background: white;
    z-index: 3;
    position: relative;
}

.modal-body{
    padding: 20px;
}